@import url('https://fonts.cdnfonts.com/css/airnt');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700&display=swap');

.hero {
  border: 5px white !important;
  max-width: 90%;
}

.aboutPage {
  background: black;
  color: white;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-family: 'Chakra Petch', sans-serif;
  z-index: 1;
  position: relative;
}

.layout1 {
  position: absolute;
  left: 0;
  top: 1.5em;
  bottom: 0;
  height: 30%;
  width: 15%;
  overflow: hidden;
  z-index: -1;
  background: radial-gradient(circle at left, #1fd427 10%, black 90%);
  opacity: 55%;
  filter: blur(3em);
}

.layout2 {
  position: absolute;
  right: 0;
  top: 5em;
  bottom: 0;
  height: 20%;
  width: 15%;
  overflow: hidden;
  z-index: -1;
  background: radial-gradient(circle at right, #1fd427, black 90%);
  opacity: 55%;
  filter: blur(5em);
}

.layout3 {
  right: 85%;
  position: absolute;
  top: 60%;
  height: 27%;
  width: 25%;
  transform: rotate(-25deg);
  overflow: hidden;
  z-index: -1;
  background: radial-gradient(circle at left, #1fd427 3%, black 90%);
  opacity: 40%;
  filter: blur(2em);
}

.header {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 1rem;
  font-weight: 700;
  font-size: 3.5rem;
  margin: -1rem;
  margin-bottom: 0rem;
  text-align: center;
}

.headerTitle {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.2;
  letter-spacing: 4%;
}

.main {
  width: 98%;
}

.founderSection {
  background: linear-gradient(
    180deg,
    rgba(35, 51, 35, 0.9) 29.17%,
    rgba(1, 60, 1, 0.9) 100%
  );

  border-radius: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 42rem;
  box-shadow: inset 0 0 3rem rgba(255, 255, 255, 0.5);

  padding: 4rem;
  text-align: center;
}

.founderTitle {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0rem;
  padding-top: 1rem;
}

.founderImage {
  height: auto;
  width: 100%;
  max-width: 500px;
  border-radius: 61px 61px 0px 0px;
  margin-top: 4rem;
}

.founderDescription {
  width: 80%;
  text-align: justify;
  font-size: 1.5rem;
  color: white;
  margin-top: 0.5rem;
}

.cardSection {
  display: flex;
  margin-top: 5rem;
}

.infoCard {
  background: linear-gradient(180deg, #233323e5 29.17%, #013c01e5 100%);
  color: white;
  padding: 2rem;
  // width: 100%;
  max-width: 46%;
  flex: 1 1 45%;
  border-radius: 2rem;
  text-align: center;
  box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.5);
  border: 2px white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45rem;
}

.cardImage {
  width: 40%;
  margin-top: 3rem;
  max-width: 200px;
  height: auto;
  border-radius: 1rem;
  margin-bottom: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cardTitle {
  padding: 0rem;
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  margin: 1rem;
}

.cardContent {
  font-size: 1.25rem;
  text-align: justify;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  color: white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media (min-width: 900px) {
  .cardSection {
    flex-direction: row;
    justify-content: space-between;
  }

  .infoCard {
    max-width: 42%;
  }

  .layout1 {
    width: 15%;
    height: 30%;
  }

  .layout2 {
    width: 15%;
    height: 20%;
  }

  .layout3 {
    width: 25%;
    height: 27%;
  }
}

@media (min-width: 769px) and (max-width: 899px) {
  .founderDescription {
    font-size: 1em;
    width: 100%;
    padding-bottom: -0rem;
    margin-bottom: -3rem;
  }
  .founderSection {
    margin-top: 0rem;
    padding-top: 1rem;
    font-size: 1rem;
    text-align: justify;
    flex-grow: 1;
    border-radius: 4em;

    color: white;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    box-shadow: inset 0 0 1rem rgba(255, 255, 255, 0.5);
    height: 35rem;
    margin-bottom: 5em;
    padding-bottom: 0em;
  }
  .header {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
  }
  .founderImage {
    max-width: 80%;
    border-radius: 26px 26px 0px 0px;
    margin-top: -4rem;
  }
  .founderTitle {
    font-size: 1.5em;
  }
  .headerTitle {
    font-size: 1.5em;
  }

  .cardSection {
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    max-width: 100%;
  }

  .infoCard {
    // width: 85%;
    max-width: 100%;
    border-radius: 4em;
  }
  .cardImage {
    margin-top: 0px;
  }
  .cardTitle {
    font-size: 1.5em;
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
  .cardContent {
    font-size: 1em;
    margin-bottom: -3rem;
  }

  .layout1,
  .layout2,
  .layout3 {
    filter: blur(3em);
  }

  .layout1 {
    width: 20%;
    height: 35%;
  }

  .layout2 {
    width: 20%;
    height: 25%;
  }

  .layout3 {
    width: 30%;
    height: 30%;
  }
}

@media (max-width: 768px) {
  .founderDescription {
    font-size: 1em;
    width: 100%;
    padding-bottom: -0rem;
    margin-bottom: -3rem;
  }
  .founderSection {
    margin-top: 0rem;
    padding-top: 1rem;
    font-size: 1rem;
    text-align: justify;
    flex-grow: 1;
    border-radius: 4em;

    color: white;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    box-shadow: inset 0 0 1rem rgba(255, 255, 255, 0.5);
    height: 35rem;
    margin-bottom: 5em;
    padding-bottom: 0em;
  }
  .header {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
  }
  .founderImage {
    max-width: 80%;
    border-radius: 26px 26px 0px 0px;
    margin-top: -4rem;
  }
  .founderTitle {
    font-size: 1.5em;
  }
  .headerTitle {
    font-size: 1.5em;
  }

  .cardSection {
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    max-width: 100%;
  }

  .infoCard {
    // width: 85%;
    max-width: 100%;
    border-radius: 4em;
  }
  .cardImage {
    margin-top: 0px;
  }
  .cardTitle {
    font-size: 1.5em;
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
  .cardContent {
    font-size: 1em;
    margin-bottom: -3rem;
  }
  .layout1,
  .layout2,
  .layout3 {
    display: none;
  }
}
